Repository bellshade/CPP: changes, and which Mergify rules are due for each by the changed paths.
All: label cpp, label header, markdown label

label cpp:
  label:
    add:
    - cpp files
    - request tim cpp untuk review

label header:
  label:
    add:
    - header file

markdown label:
  label:
    add:
    - markdown files

fix: mengubah nama file cmake dan memperbaiki file wildcard_matching
  .github/workflows/cpp.yml
  CMakeLists.txt
  algorithm/sorting/CMakeLists.txt
  backtracking/CMakeLists.txt
  backtracking/wildcard_matching.cpp
  basic/CMakeLists.txt
Due: label cpp

fix: memperbaiki action
  .github/workflows/cpp.yml
Due: none

fix: update {}
  .github/workflows/cpp.yml
Due: none

feat: menambahkan solusi n queen
  .github/workflows/cpp.yml
  .gitignore
  .vscode/.settings.json
Due: none

feat: menambahkan solusi n queen
  backtracking/n_queens.cpp
Due: label cpp

feat: menambahkan contoh sederhana mengecek faktorial
  math/CMakeLists.txt
  math/cek_faktorial.cpp
Due: label cpp

feat: menambahkan contoh sederhana mengecek faktorial (#73)
  math/CMakeLists.txt
  math/cek_faktorial.cpp
Due: label cpp

fix: memperbaiki unitesting
  .github/workflows/cpp.yml
Due: none

feat: menambahkan contoh dari algoritma greedy
  algorithm/algoritma_greedy/huffman.cpp
  algorithm/algoritma_greedy/knapsack.cpp
Due: label cpp

fix: mempersingkat statement logika
  math/fibonacci.cpp
Due: label cpp

feat: menambahkan contoh dari algoritma greedy (#74)
  algorithm/algoritma_greedy/huffman.cpp
  algorithm/algoritma_greedy/knapsack.cpp
Due: label cpp

fix: memperbaiki unitesting
  .github/codeowners
  .github/workflows/cpp.yml
  .github/workflows/format_nama_file.sh
Due: none

fix: memperbaiki typo double wget
  .github/workflows/cpp.yml
Due: none

fix: memperbaiki penamaan file format_nama_file.sh
  .github/workflows/cpp.yml
Due: none

chore: menghapus git diff
  .github/workflows/cpp.yml
Due: none

fix: test dengan menggunakan head reference
  .github/workflows/cpp.yml
Due: none

fix: test dengan menggunakan menambahkan main branch sebelum head reference
  .github/workflows/cpp.yml
Due: none

fix: test dengan menggunakan fetch depth
  .github/workflows/cpp.yml
Due: none

fix: memperbaiki unitesting (#77)
  .github/codeowners
  .github/workflows/cpp.yml
  .github/workflows/format_nama_file.sh
Due: none

feat: menambahkan count flip bits
  algorithm/bit_manipulation/flip_count_bits.cpp
Due: label cpp

Flip count bits (#78)
  algorithm/bit_manipulation/flip_count_bits.cpp
Due: label cpp

feat: menambahkan solusi untuk `snail sort`
  algorithm/sorting/snail_sort.cpp
Due: label cpp

feat: menambahkan komentar
  algorithm/sorting/snail_sort.cpp
Due: label cpp

fix: menambahkan template type
  algorithm/sorting/snail_sort.cpp
Due: label cpp

feat: menambahkan template type
  algorithm/sorting/snail_sort.cpp
Due: label cpp

fix: menghapus variable binding
  algorithm/sorting/snail_sort.cpp
Due: label cpp

feat: menambahkan solusi untuk `snail sort` (#79)
  algorithm/sorting/snail_sort.cpp
Due: label cpp

feat: menambahkan contoh sederhana dari bucket sorting
  algorithm/sorting/bucket_sort.cpp
Due: label cpp

feat: menambahkan contoh sederhana dari bucket sorting (#80)
  algorithm/sorting/bucket_sort.cpp
Due: label cpp

feat: menambahkan contoh dari cek bilangan prima
  math/cek_prima.cpp
Due: label cpp

feat: menambahkan contoh dari cek bilangan prima (#81)
  math/cek_prima.cpp
Due: label cpp

docs: memperbaiki link kosong pada documentation close #54
  readme.md
Due: markdown label

docs: memperbaiki link kosong pada documentation close #54 (#82)
  readme.md
Due: markdown label

feat: menambahkan rabin miller algorithm
  math/rabin_miller.cpp
Due: label cpp

feat: menambahkan contoh mengkalkulasi `mean squared error`
  math/mean_square_error.cpp
Due: label cpp

fix: remove unnecessary comment
  math/mean_square_error.cpp
Due: label cpp

feat: menambahkan contoh mengkalkulasi mean squared error (#84)
  math/mean_square_error.cpp
Due: label cpp

Memperbaiki typo, link yang tidak terhubung, dll.
  math/ganjil_genap.cpp
Due: label cpp

Memperbaiki typo, link yang tidak terhubung.
  CONTRIBUTING.md
  readme.md
Due: markdown label

Update ganjil_genap.cpp
  math/ganjil_genap.cpp
Due: label cpp

Path conditions:
  label cpp: any of: \.cpp$
  label header: any of: \.h$
  markdown label: any of: \.md$
